---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>blog</title>
  </head>
  <body>
    <Navigation />

    <h1>我的 Astro 网站</h1>
    <h1>我的 Astro 学习博客</h1>
    <p>在这里，我将分享我的学习 Astro 之旅。</p>
    <ul>
      <li><a href="/posts/post-1/"> post-1 </a></li>
      <li><a href="/posts/post-2/"> post-2 </a></li>
      <li><a href="/posts/post-3/"> post-3 </a></li>
    </ul>
    
    <Footer />
  </body>
</html>
